.symbol[data-symbol="agenda"] {	content:url("../images/GameSymbols/NISEI_AGENDA.svg"); }
.symbol[data-symbol="agenda_points"] {	content:url("../images/GameSymbols/NISEI_AGENDA.svg"); }
.symbol[data-symbol="advancement_cost"] {	content:url("../images/GameSymbols/NISEI_CLICK.svg"); }
.symbol[data-symbol="click"] {	content:url("../images/GameSymbols/NISEI_CLICK.svg"); }
.symbol[data-symbol="credit"] {	content:url("../images/GameSymbols/NISEI_CREDIT.svg"); }
.symbol[data-symbol="install_cost"] {	content:url("../images/GameSymbols/NISEI_CREDIT.svg"); }
.symbol[data-symbol="play_cost"] {	content:url("../images/GameSymbols/NISEI_CREDIT.svg"); }
.symbol[data-symbol="interrupt"] {	content:url("../images/GameSymbols/NISEI_INTERRUPT.svg"); }
.symbol[data-symbol="link"] {	content:url("../images/GameSymbols/NISEI_LINK.svg"); }
.symbol[data-symbol="base_link"] {	content:url("../images/GameSymbols/NISEI_LINK.svg"); }
.symbol[data-symbol="mu"] {	content:url("../images/GameSymbols/NISEI_Mu.svg"); }
.symbol[data-symbol="memory_cost"] {	content:url("../images/GameSymbols/NISEI_Mu.svg"); }
.symbol[data-symbol="recurring-credit"] {	content:url("../images/GameSymbols/NISEI_RECURRING_CREDIT.svg"); }
.symbol[data-symbol="rez-cost"] {	content:url("../images/GameSymbols/NISEI_REZ_COST.svg"); }
.symbol[data-symbol="rez_cost"] {	content:url("../images/GameSymbols/NISEI_REZ_COST.svg"); }
.symbol[data-symbol="subroutine"] {	content:url("../images/GameSymbols/NISEI_SUBROUTINE.svg"); }
.symbol[data-symbol="trash"] {	content:url("../images/GameSymbols/NISEI_TRASH_ABILITY.svg"); }
.symbol[data-symbol="trash-cost"] {	content:url("../images/GameSymbols/NISEI_TRASH_COST bw.svg"); }
.symbol[data-symbol="trash_cost"] {	content:url("../images/GameSymbols/NISEI_TRASH_COST bw.svg"); }
.symbol[data-symbol="adam"] {	content:url("../images/Faction Glyphs/NISEI_ADAM.svg"); }
.symbol[data-symbol="anarch"] {	content:url("../images/Faction Glyphs/NISEI_ANARCH.svg"); }
.symbol[data-symbol="apex"] {	content:url("../images/Faction Glyphs/NISEI_APEX.svg"); }
.symbol[data-symbol="criminal"] {	content:url("../images/Faction Glyphs/NISEI_CRIMINAL.svg"); }
.symbol[data-symbol="haas-bioroid"] {	content:url("../images/Faction Glyphs/NISEI_HB.svg"); }
.symbol[data-symbol="jinteki"] {	content:url("../images/Faction Glyphs/NISEI_JINTEKI.svg"); }
.symbol[data-symbol="nbn"] {	content:url("../images/Faction Glyphs/NISEI_NBN.svg"); }
.symbol[data-symbol="shaper"] {	content:url("../images/Faction Glyphs/NISEI_SHAPER.svg"); }
.symbol[data-symbol="sunny-lebeau"] {	content:url("../images/Faction Glyphs/NISEI_SUNNY.svg"); }
.symbol[data-symbol="weyland-consortium"] {	content:url("../images/Faction Glyphs/NISEI_WEYLAND.svg"); }
.symbol[data-symbol="unique"] {	content:url("../images/UNIQUE-DIAMOND.svg"); height: 20px; }